[tool.poetry]
name = "corsika-panama"
version = "0.3.2"
description = "PANdas And Multicore utils for corsikA7"
authors = ["Ludwig Neste <ludwig.neste@tu-dortmund.de>"]
license = "MIT"
readme = "README.md"
packages = [{ include = "panama" }]
homepage = "https://github.com/The-Ludwig/PANAMA"
repository = "https://github.com/The-Ludwig/PANAMA"
documentation = "https://github.com/The-Ludwig/PANAMA#readme"

[tool.poetry.dependencies]
python = "^3.8"
corsikaio =  "^0.3"
numpy = "^1.23.4"
pandas = "^1.5.1"
click = "^8.1.3"
particle = "^0.21.0"
tqdm = "^4.64.1"
crflux = "^1.0.6"
tables = "^3.8.0"

[tool.poetry.group.dev.dependencies]
black = "^22.10.0"
pytest = "^7.2.0"
coverage = "^7.1.0"
pre-commit = "^3.0.4"
sphinx = "^6.1.3"
m2r2 = "<0.3.3"
sphinx-rtd-theme = "^1.2.0"
sphinx-click = "^4.4.0"
ruff = "^0.0.252"
mypy = "^1.0.1"

[tool.poetry.scripts]
panama = 'panama.cli:cli'

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
minversion = "6.0"
xfail_strict = true
addopts = [
    "-ra",
    "--strict-markers",
    "--strict-config",
]
testpaths = [
    "tests",
]
log_cli_level = "DEBUG"
filterwarnings = [
    "error",
    "ignore::DeprecationWarning",
    "ignore::UserWarning",
]

[tool.ruff]
select = [
  "E", "F", "W", # flake8
  "B", "B904",   # flake8-bugbear
  "I",           # isort
  "C4",          # flake8-comprehensions
  "ISC",         # flake8-implicit-str-concat
  "PGH",         # pygrep-hooks
  "PIE",         # flake8-pie
  "PL",          # pylint
  "PT",          # flake8-pytest-style
  "RUF",         # Ruff-specific
  "SIM",         # flake8-simplify
  "T20",         # flake8-print
  "UP",          # pyupgrade
  "YTT",         # flake8-2020
]
extend-ignore = [
  "PLR",   # Design related pylint codes
  "E501",  # Line too long
]
target-version = "py311"
typing-modules = ["vector._typeutils"]
src = ["panama"]

[tool.mypy]
files = [
  "panama",
]
python_version = "3.11"
strict = true
warn_return_any = false
show_error_codes = true
enable_error_code = [
  "ignore-without-code",
  "truthy-bool",
  "redundant-expr",
]
