[tool.poetry]
name = "corsika-panama"
version = "0.1.0"
description = "PArallel ruN of corsikA on MAny cores and other python utils to work with CORSIKA"
authors = ["Ludwig Neste <ludwig.neste@tu-dortmund.de>"]
license = "MIT"
readme = "README.md"
packages = [{ include = "panama" }]
homepage = "https://github.com/The-Ludwig/PANAMA"
repository = "https://github.com/The-Ludwig/PANAMA"
documentation = "https://github.com/The-Ludwig/PANAMA#readme"

[tool.poetry.dependencies]
python = "^3.10"
corsikaio = "^0.2.6.post1"
numpy = "^1.23.4"
pandas = "^1.5.1"
click = "^8.1.3"
particle = "^0.21.0"
tqdm = "^4.64.1"
crflux = "^1.0.6"

[tool.poetry.group.dev.dependencies]
black = "^22.10.0"
pytest = "^7.2.0"

[tool.poetry.scripts]
panama = 'panama.parallel_run:cli'

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
